
:root{
    /* custom css vars */
    --text-primary: black;

}

body{
    margin: none;
    padding: none;
    background-color: rgb(14, 15, 15);
    height: 100vh;
    width: 100vw;
}

.Sidebar{
    font-size: 50px;
}